<footer>
    <div class="container">
        <div>
        <h3>Адреса</h3>
        <p>вул. Банкова, 22, м. Київ</p>
        <p>01001, Україна</p>
        </div>
        <div>
        <h3>Контактна інформація</h3>
        <p>+38 099 500 5454</p>
        <p>poshta@khrobak.ua</p>
    </div>
</footer>