<header>
  <div class="container">
    <div>
      <a href="./" id="logo"><img src="/imgs/logo.png" /></a>
      <div class="contact_info">
        <p>
          <span id="contact_info_num">+38 099 500 5454</span>
          <br />
          <span id="contact_info_email">poshta@khrobak.ua</span>
        </p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="./prices">Тарифи</a></li>
        <li><a href="./shipment">Оформити відправлення</a></li>
        <li><a href="./package_history">Мої посилки</a></li>
        <li><a href="./personal_info">Персональна інформація</a></li>
        <li class="right"><a href="./auth">Вхід\Реєстрація</a></li>
      </ul>
    </nav>
  </div>
</header>
