<main>
  <div class="container">
    <form class="auth_form" action="/home.html" method="get">
      <label>Зареєструйте свій акаунт</label>
      <!-- <label>Зайдіть у свій акаунт</label> -->
      <div>
        <input id="email_input" placeholder="Введіть свою електрону пошту" required />
        <input id="pass_input" type="password" placeholder="Введіть свій пароль" required />
        <button id="submit">Зареєструватися</button>
        <!-- <button id="submit">Увійти</button> -->
      </div>
    </form>
    <a href="./auth_log.html">Вже маєте аккаунт?</a>
    <!-- <a href="./auth_reg.html">Не маєте аккаунта?</a> -->
  </div>
</main>
