<main>
  <div class="container">
    <div class="dispatch_reg">
      <legend>Персональна інформація</legend>
      <div>
          <div class="setting_item">
            <input type="text" placeholder="Ім'я" value="Микола" name="first_name" required disabled>
            <button class="edit">Змінити</button>
            <button class="save">Зберегти</button>
          </div>
          <div class="setting_item">
            <input type="text" placeholder="Прізвище" value="Сірко" name="last_name" required disabled>
            <button class="edit">Змінити</button>
            <button class="save">Зберегти</button>
          </div>
          <div class="setting_item">
            <input type="text" placeholder="По-батькові" value="Кирилович" name="patronic_name" required disabled>
            <button class="edit">Змінити</button>
            <button class="save">Зберегти</button>
          </div>
          <div class="setting_item">
            <input type="text" placeholder="Номер телефону" value="+380999999999" name="phone" required disabled>
            <button class="edit">Змінити</button>
            <button class="save">Зберегти</button>
          </div>
          <div class="setting_item">
            <input type="text" placeholder="Електрона пошта" value="khrobachenko@poshta.com" name="email" required disabled>
            <button class="edit">Змінити</button>
            <button class="save">Зберегти</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
