<main>
  <div class="container">
    <table>
      <tr>
        <th class="toptd" colspan="5">Вартість пересилання (відділення-відділення), грн із ПДВ</th>
      </tr>
      <tr>
        <th>
          Вага
          <p>(включно)</p>
        </th>
        <th>
          Найдовша сторона
          <p>(включно)</p>
        </th>
        <th>
          У межах області
          <p>(3-4 дні)</p>
        </th>
        <th>
          У межах України
          <p>(4-6 днів)</p>
        </th>
        <th>
          За кордон
          <p>(7+ днів)</p>
        </th>
      </tr>
      <tr>
        <td>0.25 кг</td>
        <td>70 см</td>
        <td>25 грн</td>
        <td>30 грн</td>
        <td>35 грн</td>
      </tr>
      <tr>
        <td>0.5 кг</td>
        <td>75 см</td>
        <td>28 грн</td>
        <td>35 грн</td>
        <td>45 грн</td>
      </tr>
      <tr>
        <td>1 кг</td>
        <td>80 см</td>
        <td>30 грн</td>
        <td>40 грн</td>
        <td>55 грн</td>
      </tr>
      <tr>
        <td>2 кг</td>
        <td>95 см</td>
        <td>32 грн</td>
        <td>45 грн</td>
        <td>65 грн</td>
      </tr>
      <tr>
        <td>5 кг</td>
        <td>100 см</td>
        <td>35 грн</td>
        <td>50 грн</td>
        <td>75 грн</td>
      </tr>
      <tr>
        <td>10 кг</td>
        <td>120 см</td>
        <td>40 грн</td>
        <td>55 грн</td>
        <td>85 грн</td>
      </tr>
      <tr>
        <td>20 кг</td>
        <td>150 см</td>
        <td>42 грн</td>
        <td>60 грн</td>
        <td>95 грн</td>
      </tr>
      <tr>
        <td>30 кг</td>
        <td>170 см</td>
        <td>50 грн</td>
        <td>70 грн</td>
        <td>110 грн</td>
      </tr>
    </table>
  </div>
</main>
